@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Mono:wght@700&family=Source+Sans+Pro&display=swap");

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -6px);
  }
  50% {
    transform: translate(0, 6px);
  }
  75% {
    transform: translate(0, -6px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  background-color: white;
}

.about {
  height: 150px;
  background-color: blueviolet;
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-family: "Roboto Mono", serif;
  font-size: 30px;
  margin: 0;
}

.about__text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  max-width: 800px;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0;
  margin-top: 40px;
  background-color: white;
  color: blueviolet;
}

.about__triangle {
  width: 100%;
  height: 120px;
}

.projects {
  padding: 150px;
  padding-bottom: 0;
  margin-bottom: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__title {
  width: 100%;
  font-family: "Alfa Slab One", sans-serif;
  color: blueviolet;
  font-size: 70px;
  margin: 0;
  margin-bottom: 70px;
}

.projects__container {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects__item {
  height: 250px;
  aspect-ratio: 1;
  background-color: blueviolet;
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.5);
}

.projects__item_name_home-kitchen {
  background-image: url("./images/home_kitchen.jpg");
}

.projects__item_name_around {
  background-image: url("./images/around-react.jpg");
}

.projects__item_name_2048 {
  background-image: url("./images/2048.jpg");
}

.projects__item_name_news-explorer {
  background-image: url("./images/news-explorer.jpg");
}

.projects__item_name_route-66 {
  background-image: url("./images/route-66.jpg");
}

.projects__card {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease-out;
}

.projects__card:hover {
  opacity: 1;
}

.projects__project-name {
  margin: 0;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.projects__description {
  width: calc(100% - 20px);
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.projects__button {
  border: 0;
  border: 1px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s ease-out;
}

.projects__button:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
  background-color: white;
}

.separator {
  height: 100px;
  width: 100%;
  background-color: #eee;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: rgb(54, 15, 90);
}

.footer__triangle {
  width: 100%;
  height: 100px;
}

.footer__social-links {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.footer__link {
  transition: opacity 0.5s ease-out;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__arrow {
  width: 100%;
  height: 200px;
}

.footer__arrow svg:hover {
  animation: shake 1s 2 ease;
  cursor: pointer;
}
